<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <div class="border mb-2" style="height: 100px">
                <img src="{{question.user.profile.avatar.url}}" class="img-fluid rounded-start" alt="Avatar">
            </div>
            {% include 'blog/layouts/like_panel.html' %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5><a href="/question/{{question.id}}" class="card-link">{{ question.title }}</a></h5>
                <p class="card-text">{{ question.text }}</p>
                <div class="d-flex gap-5">
                    <a href="#" class="card-link">Answer (3)</a>
                    <div>

                        Tags:
                        {% for tag in question.tags.all %}
                        <a href="#" class="card-link">{{ tag.name }}</a>
                        {% empty %}
                        <p>No tags available</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>