


{% extends 'blog/layouts/main_base.html' %}

{% block content %}
        <div class="col-9">
            <div class="d-flex gap-3 align-items-center">
                <h1>New questions</h1>
                <a href="{% url 'hot_questions' %}">Hot Questions</a>

            </div>
            <p></p>
                    <div class="col">
            {% for question in question_list%}
                        {% include 'blog/layouts/question.html' %}
            {% endfor %}
                    </div>
            {% include 'blog/layouts/pagination.html' %}

        </div>
{% endblock %}