{% extends 'blog/layouts/main_base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Settings: Dr. Pepper</h2>
        <div class="container mt-5">
    <h2>Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="card-body">
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
            </div>
        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
</div>
    </div>
</div>
{% endblock %}
